include README.md
include CHANGELOG.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include tests/fixtures/legacy_layout_pickles.json
recursive-include pygarble *.py *.json
global-exclude __pycache__
global-exclude *.py[co]

include pygarble/py.typed
